<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>941926397883-9haabg661h8pu3vp6ddlndt82ful31sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941926397883-9haabg661h8pu3vp6ddlndt82ful31sh</string>
	<key>API_KEY</key>
	<string>AIzaSyBFHcxrDfXjL2e1KYehxx79Lej3e0g2j1c</string>
	<key>GCM_SENDER_ID</key>
	<string>941926397883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasondevelop.ChineseBooks</string>
	<key>PROJECT_ID</key>
	<string>chinesebooks-b8e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>chinesebooks-b8e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941926397883:ios:5daf953652396189</string>
	<key>DATABASE_URL</key>
	<string>https://chinesebooks-b8e2b.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4666558367962888~6576846714</string>
</dict>
</plist>